html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: ;
  padding-bottom: ;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control{
  background-color:#E8F0FE;
}

p{
  float: left;
}

#inputGroupFile02{
  background-color: white;
}

.input-group{
  background-color:#E8F0FE;
  border: solid 1px #E6E6E6;
  border-radius: 8px; /* 半径が8pxの角丸 */
}

.fw-bold{
  padding-top: 10px;
  padding-left: 10px ;
}

.fw-bold2{
  padding-top: 10px;
  padding-left: 10px ;

}

.complete-sign{
  width: 100%;
  height: 60px;
  background-color: #2E9AFE;
  border: solid 1px #E6E6E6;
  border-radius: 8px; /* 半径が8pxの角丸 */
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 150px;
}

.complete-p{
  padding: 5px 0 0 40px;
}



.complete_pass{
  width: 100%;
  height: 60px;
  background-color: #2E9AFE;
  border: solid 1px #E6E6E6;
  border-radius: 8px; /* 半径が8pxの角丸 */
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 150px;
}

.complete_pass_p{
  padding: 5px 0 0 18px;
}

.btn{
  width: 100%;
  height: 50px;
  font-size: 20px;

}
